@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 80px;
  font-family: "Poppins", sans-serif;
    /* background-image: url("https://pbs.twimg.com/media/GK1kgZmXkAAkE_R?format=jpg&name=large"); */
  background: #1b1a1a;
}

.navBarEncabezada{
  margin-top: -80px;
  background-color: rgba(161, 14, 14, 0.5); 
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000;
}
.navBarEncabezada ul {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.navBarEncabezada a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #e7edf6;
}
#logotipo {
  font-size: 40px;
}
#logotipo h3 {
  text-shadow: 0px 0px 15px white;
  cursor: default;
}
.navBarEncabezada li {
  list-style: none;
  font-size: 25px;
}
.navBarEncabezada a:hover {
  background: #536090;
  border-radius: 10px;
  padding: 15px;
}


#carouselExampleInterval {
  margin: 0 auto;
  width: 80%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 1px 0px 20px white;
}
.editImg{
  height: 500px;
  object-fit: fill;
  border-radius: 15px;
  filter: grayscale(60%);
}
.carousel-caption{
  text-shadow: 0px 0px 10px rgb(0, 0, 0);

}
.carousel-inner p {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  line-height: 1.7;
}
.carousel-inner h3 {
  font-size: 40px;
  font-weight: 500;
}

.carousel-control-next, .carousel-control-prev{
  width: 5%;
}
#proximamente{
  font-size: 30px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 90%;
  color: #e7edf6;
  border-bottom: 2px solid rgb(133, 4, 4);
}
#cardMovie {
  color: #e7edf6;
  display: flex;
  margin: 40px auto 120px auto;
  padding: 20px;
  width: 90%;
  height: fit-content;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.cardDetails {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d474f;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.divTodo:hover .cardDetails {
  right: 0;
}
#movieTitle {
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 500;
  color: #e7edf6;
  text-decoration: none;
}
.divTodo {
  width: 320px;
  height: 480px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid rgb(126, 6, 6);
  position: relative;
}
.divTodo p {
  width: 100%;
  line-height: 1.8;
  font-size: 19px;
}
.movieYears {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.movieDirector {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.moviePoster {
  width: 320px;
  height: 480px;
  border-radius: 20px;
  object-fit: cover;
}

footer a {
  margin-left: 5px;
  text-decoration: line-through;
  color: black;
}
footer {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #1469b3;
}
