<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="navBarEncabezada">
      <ul>
        <li id="logotipo">
          <h3>PelisTaulo</h3>
        </li>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="series.html">Series</a></li>
        <li><a href="movies.html">Peliculas</a></li>
        <li><a href="form.html">Agregar Películas</a></li>
      </ul>
  </header>
  <section id="cardMovie">
    <!-- aqui irian las cards de las pelis -->
  </section>
  <section class="commingSoon">
    <!-- carrucel de cards -->
  </section>
  <footer>&copy;Copyright by <a href="#">Bruno Distaulo</a></footer>
  </nav>
</body>
</html>